header {
  width: 100%;
  height: $header-height;
  background: $main-bg;
  color: #fff;
  display: flex;
  flex-flow: row nowrap;
}

#menu-desktop {
  height: 100%;
  text-align: right;
  flex-grow: 2;
  margin-right: 1rem;

  a {
    display: inline-block;
    padding: 0 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: $header-height;
    color: $main-link-color;

    &.active, &:hover {
      color: #fff;
    }
  }
}

#menu-mobile {
  display: none;
  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  background: color($main-bg lightness(5%));
  text-align: right;

  a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1rem 0.5rem 1rem 1rem;
  }
}

#menu-mobile-toggle {
  display: none;
  height: $header-height;
  line-height: header-height;
  font-size: 2rem;
  text-align: right;
  flex-grow: 2;
  padding-right: 1rem;

  i {
    line-height: $header-height;
  }
}

#logo {
  font-family: 'deutsch_gothicregular';
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
  line-height: $header-height;
  padding-left: 1rem;
  color: $main-link-color;
  text-decoration: none;

  span {
    display: inline-block;
    height: 100%;
    font-size: 1.5rem;
    line-height: $header-height;
    letter-spacing: 4px;
  }
}

#logo-img {
  position: relative;
  z-index: 10;
  display: inline-block;
  height: 8rem;
  width: 8rem;
  background: url(../img/logo.png);
  background-position: 8px 50%;
  background-size: contain;
  background-repeat: no-repeat;
  // background-color: $menu-bg;
  border-radius: 50%;
  margin: 0 1rem 0 0;
}


@media (max-width: $site-width) {
  #menu-mobile-toggle {
    display: block;
    padding-right: 0.5rem;
  }

  #menu-desktop {
    display: none;
  }

  #logo-img {
    display: none;
  }

  #logo {
    padding-left: 0.5rem;

    span {
      font-size: 1.5rem;
    }
  }
}
