header {
  width: 100%;
  background: $main-bg-dark;
  color: #fff;
  text-align: center;
}

#nav-desktop {
  height: 3rem;
  background: $main-bg-light;
  width: 100%;
  text-align: center;
  box-shadow: inset 0px 3px 0 rgba(0,0,0,0.3);

  a {
    display: inline-block;
    padding: 0 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    line-height: 3rem;
    color: $main-link-color;

    &.active, &:hover {
      color: #fff;
      box-shadow: inset 0px -2px 0px $main-link-color;
    }
  }
}

#nav-mobile {
  display: none;
  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  background: $main-bg-light;
  text-align: right;
  z-index: 3;

  a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1rem 0.5rem 1rem 1rem;
  }
}

#nav-mobile-toggle {
  display: none;
  position: absolute;
  right: 0.5rem;
  top: 0;
  height: 100%;
  line-height: header-height;
  font-size: 2rem;
  text-align: right;

  i {
    color: $main-link-color;
    line-height: $header-height;
  }
}

#logo {
  font-family: 'deutsch_gothicregular';
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: $header-height;
  padding-left: 1rem;
  color: $main-link-color;
  text-decoration: none;

  span {
    display: block;
    font-size: 1.5rem;
    letter-spacing: 4px;
  }
}

#logo-img {
  position: relative;
  z-index: 10;
  display: block;
  height: 5rem;
  width: 5rem;
  // background: url(../img/logo.png);
  background-position: 8px 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $main-link-color;
  border-radius: 50%;
  border: 0.3rem solid color($main-bg-dark lightness(80%));
  margin: 1rem 1rem;

  img {
    position: relative;
    width: 8rem;
    left: -12px;
    top: -5px;
  }
}


@media (max-width: $site-width) {
  header {
    flex-flow: row;
    justify-content: center;
  }

  #nav-mobile-toggle {
    display: block;
  }

  #nav-desktop {
    display: none;
  }

  #logo-img {
    // display: none;
    width: 4rem;
    height: 4rem;

    img {
      position: relative;
      width: 6rem;
      left: -8px;
      top: -3px;
    }
  }

  #logo {
    padding: 0;
    text-align: right;

    span {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 480px) {

  #logo {
    height: 4rem;

    span {
      line-height: 4rem;

      &:first-child {
        display: none;
      }
    }
  }

  #nav-mobile-toggle {

    i {
      line-height: 4rem;
    }
  }

  #logo-img {
    display: none;
  }

  #nav-mobile {
    top: 4rem;
  }
}
