.menu-button {
  background: color($main-bg-light lightness(30%));
  color: $main-link-color;
  // font-family: 'Lora', serif;
  // font-weight: 600;
  border: none;
  padding: 0.5rem;
  font-size: 1.1rem;
  transition: .1s;

  &:focus {
    outline: none;
  }

  &:hover, &.active {
    background: $menu-bg;
    color: $main-bg-dark;
  }

  &:first-of-type {
    border-radius: 0.3rem 0 0 0;
  }

  &:last-of-type {
    border-radius: 0 0.3rem 0 0;
  }
}

.menu-table {
  width: 100%;
  color: $main-bg-dark;

  tr {

    &:hover {
      background: #ffe298;
    }

    td {
      vertical-align: top;
      height: 5rem;
      padding: 0.5rem;

      &:first-child {
        width: 3rem;
        padding: 0.5rem 0 0 0.5rem;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}

p.menu_item_title {
  font-weight: 400;
  margin: 0;
}

p.menu_item_content {
  font-size: 0.8rem;
  font-style: italic;
  margin: 0.5rem 0 0;
  font-weight: 300;
}

p.menu_item_price {
  color: #B14848;
  font-weight: 400;
  margin: 0;

  &:before {
    content: '₽';
  }
}

p.menu_item_weight {
  font-size: 0.8rem;
  font-style: italic;
  margin: 0.5rem 0 0;

  &:after {
    content: ' г';
  }
}

p.menu_item_volume {
  font-size: 0.8rem;
  font-style: italic;
  margin: 0.5rem 0 0;

  &:after {
    content: ' мл';
  }
}

.menu_item_picture {

  a {
    display: block;
    height: 3rem;
    width: 3rem;
    background-color: $main-bg-light;
    background-position: center;
    background-size: cover;
    border-radius: 0.5rem;
  }
}

#bar, #kitchen {
  background: $menu-bg;
  padding: 0.5rem;
  color: $main-bg-dark;
  // position: relative;
  // z-index: 2;
  border-radius: 0 0.5rem 0.5rem 0.5rem;

  h3 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lora', serif;
    color: #B14848;
    font-weight: 600;
    font-size: 1.5rem;

    &:before, &:after {
      display: inline-block;
      content: '';
      height: 1px;
      background: #B14848;
      width: 10rem;
      position: relative;
      top: -0.5rem;
      margin: 0 1rem;
    }
  }
}

#bar {
  display: block;
}

#kitchen {
  display: none;
}

@media (max-width: $site-width) {
  #bar, #kitchen {

    h3 {

      &:before, &:after {
        width: 7rem;
      }
    }
  }
}
@media (max-width: 480px) {
  #bar, #kitchen {
    border-radius: 0 0 0.5rem 0.5rem;

    h3 {

      &:before, &:after {
        width: 3rem;
      }
    }
  }

  .menu-button {
    width: 50%;
  }
}
