.menu-button {
  background: color($main-bg-light lightness(30%));
  color: $main-link-color;
  border: none;
  padding: 0.5rem;
  font-size: 1.1rem;

  &:focus {
    outline: none;
  }

  &:hover, &.active {
    background: $menu-bg;
    color: $main-bg-dark;
  }
}

.menu-table {
  width: 100%;
  color: $main-bg-dark;

  tr {

    &:hover {
      background: color($main-link-color lightness(85%));
    }

    td {
      vertical-align: top;
      height: 5rem;
      padding: 0.5rem;

      &:first-child {
        width: 3rem;
        padding: 0.5rem 0 0 0.5rem;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}

p.menu_item_title {
  font-weight: 400;
  margin: 0;
}

p.menu_item_content {
  font-size: 0.8rem;
  font-style: italic;
  margin: 0.5rem 0 0;
  font-weight: 300;
}

p.menu_item_price {
  color: #B14848;
  font-weight: 400;
  margin: 0;

  &:before {
    content: '₽';
  }
}

p.menu_item_weight {
  font-size: 0.8rem;
  font-style: italic;
  margin: 0.5rem 0 0;

  &:after {
    content: ' г';
  }
}

p.menu_item_volume {
  font-size: 0.8rem;
  font-style: italic;
  margin: 0.5rem 0 0;

  &:after {
    content: ' мл';
  }
}

.menu_item_picture {

  a {
    display: block;
    height: 3rem;
    width: 3rem;
    background-color: $main-bg-light;
    background-position: center;
    background-size: cover;
    border-radius: 0.5rem;
  }
}

#bar, #kitchen {
  background: $menu-bg;
  padding: 0.5rem;
  color: $main-bg-dark;

  h3 {
    text-align: center;
  }
}

#bar {
  display: block;
}

#kitchen {
  display: none;
}
