@import "vars";
@import "header";
@import "about";
@import "interior";
@import "menu";
@import "footer";

@font-face {
  font-family: 'deutsch_gothicregular';
  src: url('../fonts/deutschgothic-webfont.eot');
  src: url('../fonts/deutschgothic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/deutschgothic-webfont.woff2') format('woff2'),
       url('../fonts/deutschgothic-webfont.woff') format('woff'),
       url('../fonts/deutschgothic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #160b07;
  color: #fff;
  width: 100%;
  font-family: 'Roboto', sans-serif;

  &.with-background {
    background-image: url(../img/bg.png);
    background-position: right;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }

}

#beer {
  display: block;
  position: absolute;
  z-index: -1;
  background: url(../img/beer.png);
  height: 40rem;
  width: 15rem;
  right: 0;
  top: 10rem;
  background-size: contain;
}

a {
  color: $main-link-color;
  text-decoration: none;

  &:hover {
    color: #fff;
  }
}

section {
  padding: 1rem;
  max-width: $site-width;
  margin: 0 auto;
}

h1 {
  font-weight: 300;
}

#back-to-top {
  display: none;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 1rem;
  bottom: 100px;
  text-transform: uppercase;
  border: none;

  &:hover {
    background: rgba(0, 0, 0, 1);
  }

  &:focus {
    outline: none;
  }
}


@media (max-width: $site-width) {
  section {
    padding: 0.5rem;
  }

  #back-to-top {
    display: none;
  }
}
